
<div class="container">
  <h1>All Cocktails</h1>
  <!-- <p>Find me in app/views/cocktails/index.html.erb</p> -->

    <div class="row">
        <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card grow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=cocktail.image_url%>);">
            <div class="card-category"><%= cocktail.name %></div>
            <div class="card-description">
              <h2></h2>
              <p><%= cocktail.description %></p>
            </div>
            <%= link_to 'Details', cocktail_path(cocktail), :class => 'btn btn-primary btn-details' %>
          </div>
        </div>
        <% end %>
    </div>
</div>
