// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  height: 100vh;
  margin-bottom: 50px;
  overflow-x: hidden;
}

.btn-add {
  margin-top: 15px;
}

.container-index {
  padding: 15px;
  margin: 25px 150px;
}
