    <div class="navbar-wagon">
      <!-- Logo -->
      <a href="/" class="navbar-wagon-brand">
<!--         <img class="img-circle" src="https://banner2.kisspng.com/20180408/qfe/kisspng-martini-cocktail-glass-logo-beach-umbrella-5aca5158de2342.5130583115232085369099.jpg" alt="logo"> -->
      </a>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">
        <ul class="list-unstyled list-inline text-center">
        <li><%= link_to 'Add Cocktail', new_cocktail_path, class: 'btn btn-primary btn-nav btn-add' %></li>
        <li><%= link_to 'All Cocktails', cocktails_path, class: 'btn btn-info btn-nav btn-add' %></li>
        </ul>

      </div>
    </div>
